/**
* yarf.css - doing the bare minimum with no class
*/

* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px;
  }
  
  body {
    color: #333;
    font-family: monospace;
    font-size: 1.6rem;
    margin: 0px;
  }
  
  header {
    color: #85d345;
    background-color: #333;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    height: 6rem;
  }
  
  nav {
    display: inline-block; 
    float: right;
    line-height: 6rem;
  }
  
  header #logo {
    font-size: 3.5rem;
    line-height: 6rem;
    float: left;  
  }
  
  header a {
    color: white;
    text-decoration: none;
  }
  
  header a:hover {
    color: #999;
  }
  
  header div {
    max-width: 50%;
    min-width: 350px;
    margin: 0 auto 0 auto;
    height: 100%;
    box-sizing: border-box;
  }
  
  section {
    max-width: 50%;
    min-width: 300px;
    margin: 0 auto 0 auto;
    padding: 2em 0em 1em 0em;
    box-sizing: border-box;
  }
  
  h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    letter-spacing: -.1rem;
    margin-bottom: 1.5rem;
    margin-top: 0
  }
  
  h1 {
    font-size: 4.6rem;
    line-height: 1.2
  }
  
  h2 {
    font-size: 3.6rem;
    line-height: 1.25
  }
  
  h3 {
    font-size: 2.8rem;
    line-height: 1.3
  }
  
  h4 {
    font-size: 2.2rem;
    letter-spacing: -.08rem;
    line-height: 1.35
  }
  
  h5 {
    font-size: 1.8rem;
    letter-spacing: -.05rem;
    line-height: 1.5
  }
  
  h6 {
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 1.4
  }
  
  blockquote {
    border-left: #85d345 4px solid;
    padding: 10px;
    margin: 0px;
    background-color: #99999945;
  }
  
  pre {
    border-left: #85d345 4px solid;
    background-color: #99999945;
  }
  
  form {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  fieldset {
    border: none;
    padding: 0rem;
    margin-top: 1rem;
  }
  
  label {
    width: 100%; 
    margin-bottom: 0rem;
    font-weight: bold;
    display: block;
  }
  
  label[for=checkboxField] {
    width: 100%;
    display: block;
    margin-bottom: 2rem;
  }
  
  input[type=text], input[type=textarea], select {
    box-sizing: border-box;
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: .4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 3.8rem;
    padding: .6rem 1.0rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  
  input[type=checkbox] {
    margin: 0px;
  }
  
  button, input[type='button'], input[type='reset'], input[type='submit'] {
    color: #fff;
    background-color: #85d345;
    border: 0.1rem solid #85d345;
    border-radius: .4rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    padding: 0 3.0rem;
    text-align: center;
    text-decoration: none;
  }
  
  footer {
    width: 100%;
    height: 8rem;
    text-align: center;
    line-height: 5rem;
    font-size: 3rem;
    margin-top: 2rem;
  }

  #keyboardShortcuts {
    /* color: #333*/
  }